<!DOCTYPE html>
<html>
  <head>
    <title>Numerai Dashboard</title>
    <link href= "../style/reset.css" rel= "stylesheet">
    <link href= "../style/base.css" rel= "stylesheet">
    <link href= "../style/layout.css" rel= "stylesheet">
    <link href= "../style/modules.css" rel= "stylesheet">
  </head>
  <body>
    <header>
      <h2>Latest NMR Price: $<%=nmrPrice%></h2><br>
      <p>Model: <%=userData[6]%></p><br>
      <p>Current Corr Rank: <%=userData[2]%></p>
      <p>Prvious Corr Rank: <%=userData[3]%></p>
      <p>Current MMC Rank: <%=userData[0]%></p>
      <p>Previous MMC Rank: <%=userData[1]%></p><br>
      <p>Total Staked <%=userData[5]%> NMR</p>
      <% let totalUsd = Number(userData[5] * nmrPrice)%>
      <p>Total USD: $<%=totalUsd%> </p>
      <% let activeTotal = 0%>
      <%for(let i =0; i< latestRounds.length; i++){%><br>
        <h2>Round <%=latestRounds[i].roundNumber%></h2>
        <ul>
          <li>Correlation: <%=Number(latestRounds[i].correlation).toFixed(4)%></li>
          <li>MMC: <%=Number(latestRounds[i].mmc).toFixed(4)%></li>
          <li>Staked: <%=Number(latestRounds[i].selectedStakeValue).toFixed(2)%> NMR</li>
          <li>Payout Selection: <%=latestRounds[i].weekPayoutSelection%></li>
          <li>Payout Pending: <%=Number(latestRounds[i].payoutPending).toFixed(2)%></li>
        </ul>
        <%activeTotal+= Number(latestRounds[i].payoutPending)}%>
      <br>
      <p>Daily Change: <%=userData[7]%> NMR</p>
      <% let dailyChangeUsd = (userData[7]*nmrPrice).toFixed(2)%>
      <p>Daily Change USD: $<%=dailyChangeUsd%></p><br>
      <p>Current Payout Pending Across all Live Rounds: <%=activeTotal.toFixed(2)%> NMR </p>
      <%let currPayoutUsd = (activeTotal*nmrPrice).toFixed(2)%>
      <p>Current Payout Pending USD: $<%=currPayoutUsd%></p><br>
      <% let liveTotal = activeTotal + Number(userData[5]) %>
      <p>Live Total: <%=liveTotal.toFixed(2)%> NMR </p>
      <% let liveTotalUsd = (liveTotal*nmrPrice).toFixed(2)%>
      <p>Live Total USD: $<%=liveTotalUsd%></p>
    </header>
    <main>
    </main>
    <footer>

    </footer>
    <script src= '/app.js'></script>
  </body>
</html>